extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")

block content
    .card.card-default 
        .card-header
            h6 Edit Product
        .card-body
            form(action="/admin/edit-product", method="POST")
                input(type="hidden", name="id", value=`${product.id}`)#id

                .form-group.row
                    label(for="name").col-2.col-form-label Prodcut Name
                    .col-10
                        input.form-control#name(type="text", name="name", value=`${product.name}`, required)
                .form-group.row
                    label(for="price").col-2.col-form-label Price
                    .col-10
                        input.form-control#price(type="text", name="price", value=`${product.price}`, required)
                .form-group.row
                    label(for="image").col-2.col-form-label Image
                    .col-10
                        input.form-control#image(type="text", name="image", value=`${product.image}`, required)
                .form-group.row
                    label(for="description").col-2.col-form-label Description
                    .col-10
                        textarea.form-control#description(name="description", required) #{product.description}
                .form-group.row
                    label(for="categoryId").col-2.col-form-label Category
                    .col-10
                        select.form-control#categoryId(name="categoryId", required)
                            option(value="", disabled, selected) Select Category
                            each category in categories
                                if product.categoryId === category.id
                                    option(value=`${category.id}`, selected) #{category.name}
                                else
                                    option(value=`${category.id}`) #{category.name}
                .form-group.row
                    .col-10.offset-2
                        button.btn.btn-primary(type="submit") Update

